<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ampserver.mbg.mapper.UsrMapper">
  <resultMap id="BaseResultMap" type="com.ampserver.mbg.model.Usr">
    <id column="pk_id" jdbcType="INTEGER" property="pk_id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="register_tim" jdbcType="TIMESTAMP" property="register_tim" />
    <result column="correction_tim" jdbcType="TIMESTAMP" property="correction_tim" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pk_id, user_name, pwd, register_tim, correction_tim
  </sql>
  <select id="selectByExample" parameterType="com.ampserver.mbg.model.UsrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from usr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usr
    where pk_id = #{pk_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from usr
    where pk_id = #{pk_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ampserver.mbg.model.UsrExample">
    delete from usr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ampserver.mbg.model.Usr">
    insert into usr (pk_id, user_name, pwd, 
      register_tim, correction_tim)
    values (#{pk_id,jdbcType=INTEGER}, #{user_name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{register_tim,jdbcType=TIMESTAMP}, #{correction_tim,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ampserver.mbg.model.Usr">
    insert into usr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pk_id != null">
        pk_id,
      </if>
      <if test="user_name != null">
        user_name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="register_tim != null">
        register_tim,
      </if>
      <if test="correction_tim != null">
        correction_tim,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pk_id != null">
        #{pk_id,jdbcType=INTEGER},
      </if>
      <if test="user_name != null">
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="register_tim != null">
        #{register_tim,jdbcType=TIMESTAMP},
      </if>
      <if test="correction_tim != null">
        #{correction_tim,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ampserver.mbg.model.UsrExample" resultType="java.lang.Long">
    select count(*) from usr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update usr
    <set>
      <if test="record.pk_id != null">
        pk_id = #{record.pk_id,jdbcType=INTEGER},
      </if>
      <if test="record.user_name != null">
        user_name = #{record.user_name,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null">
        pwd = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.register_tim != null">
        register_tim = #{record.register_tim,jdbcType=TIMESTAMP},
      </if>
      <if test="record.correction_tim != null">
        correction_tim = #{record.correction_tim,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update usr
    set pk_id = #{record.pk_id,jdbcType=INTEGER},
      user_name = #{record.user_name,jdbcType=VARCHAR},
      pwd = #{record.pwd,jdbcType=VARCHAR},
      register_tim = #{record.register_tim,jdbcType=TIMESTAMP},
      correction_tim = #{record.correction_tim,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ampserver.mbg.model.Usr">
    update usr
    <set>
      <if test="user_name != null">
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="register_tim != null">
        register_tim = #{register_tim,jdbcType=TIMESTAMP},
      </if>
      <if test="correction_tim != null">
        correction_tim = #{correction_tim,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_id = #{pk_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ampserver.mbg.model.Usr">
    update usr
    set user_name = #{user_name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      register_tim = #{register_tim,jdbcType=TIMESTAMP},
      correction_tim = #{correction_tim,jdbcType=TIMESTAMP}
    where pk_id = #{pk_id,jdbcType=INTEGER}
  </update>
</mapper>