<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ampserver.mbg.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.ampserver.mbg.model.Role">
        <id column="pk_id" jdbcType="INTEGER" property="pk_id"/>
        <result column="nam" jdbcType="VARCHAR" property="nam"/>
        <result column="create_tim" jdbcType="TIMESTAMP" property="create_tim"/>
        <result column="correction_tim" jdbcType="TIMESTAMP" property="correction_tim"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        pk_id, nam, create_tim, correction_tim
    </sql>
    <select id="selectByExample" parameterType="com.ampserver.mbg.model.RoleExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where pk_id = #{pk_id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from role
        where pk_id = #{pk_id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.ampserver.mbg.model.RoleExample">
        delete from role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ampserver.mbg.model.Role">
        insert into role (pk_id, nam, create_tim,
                          correction_tim)
        values (#{pk_id,jdbcType=INTEGER}, #{nam,jdbcType=VARCHAR}, #{create_tim,jdbcType=TIMESTAMP},
                #{correction_tim,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.ampserver.mbg.model.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pk_id != null">
                pk_id,
            </if>
            <if test="nam != null">
                nam,
            </if>
            <if test="create_tim != null">
                create_tim,
            </if>
            <if test="correction_tim != null">
                correction_tim,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pk_id != null">
                #{pk_id,jdbcType=INTEGER},
            </if>
            <if test="nam != null">
                #{nam,jdbcType=VARCHAR},
            </if>
            <if test="create_tim != null">
                #{create_tim,jdbcType=TIMESTAMP},
            </if>
            <if test="correction_tim != null">
                #{correction_tim,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ampserver.mbg.model.RoleExample" resultType="java.lang.Long">
        select count(*) from role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update role
        <set>
            <if test="record.pk_id != null">
                pk_id = #{record.pk_id,jdbcType=INTEGER},
            </if>
            <if test="record.nam != null">
                nam = #{record.nam,jdbcType=VARCHAR},
            </if>
            <if test="record.create_tim != null">
                create_tim = #{record.create_tim,jdbcType=TIMESTAMP},
            </if>
            <if test="record.correction_tim != null">
                correction_tim = #{record.correction_tim,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update role
        set pk_id = #{record.pk_id,jdbcType=INTEGER},
        nam = #{record.nam,jdbcType=VARCHAR},
        create_tim = #{record.create_tim,jdbcType=TIMESTAMP},
        correction_tim = #{record.correction_tim,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ampserver.mbg.model.Role">
        update role
        <set>
            <if test="nam != null">
                nam = #{nam,jdbcType=VARCHAR},
            </if>
            <if test="create_tim != null">
                create_tim = #{create_tim,jdbcType=TIMESTAMP},
            </if>
            <if test="correction_tim != null">
                correction_tim = #{correction_tim,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pk_id = #{pk_id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ampserver.mbg.model.Role">
        update role
        set nam            = #{nam,jdbcType=VARCHAR},
            create_tim     = #{create_tim,jdbcType=TIMESTAMP},
            correction_tim = #{correction_tim,jdbcType=TIMESTAMP}
        where pk_id = #{pk_id,jdbcType=INTEGER}
    </update>
</mapper>