<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ampserver.mbg.mapper.TransferMapper">
  <resultMap id="BaseResultMap" type="com.ampserver.mbg.model.Transfer">
    <result column="fk_usr_id" jdbcType="INTEGER" property="fk_usr_id" />
    <result column="fk_rol_id" jdbcType="INTEGER" property="fk_rol_id" />
    <result column="transfer_tim" jdbcType="TIMESTAMP" property="transfer_tim" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fk_usr_id, fk_rol_id, transfer_tim
  </sql>
  <select id="selectByExample" parameterType="com.ampserver.mbg.model.TransferExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transfer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ampserver.mbg.model.TransferExample">
    delete from transfer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ampserver.mbg.model.Transfer">
    insert into transfer (fk_usr_id, fk_rol_id, transfer_tim
      )
    values (#{fk_usr_id,jdbcType=INTEGER}, #{fk_rol_id,jdbcType=INTEGER}, #{transfer_tim,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ampserver.mbg.model.Transfer">
    insert into transfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fk_usr_id != null">
        fk_usr_id,
      </if>
      <if test="fk_rol_id != null">
        fk_rol_id,
      </if>
      <if test="transfer_tim != null">
        transfer_tim,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fk_usr_id != null">
        #{fk_usr_id,jdbcType=INTEGER},
      </if>
      <if test="fk_rol_id != null">
        #{fk_rol_id,jdbcType=INTEGER},
      </if>
      <if test="transfer_tim != null">
        #{transfer_tim,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ampserver.mbg.model.TransferExample" resultType="java.lang.Long">
    select count(*) from transfer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transfer
    <set>
      <if test="record.fk_usr_id != null">
        fk_usr_id = #{record.fk_usr_id,jdbcType=INTEGER},
      </if>
      <if test="record.fk_rol_id != null">
        fk_rol_id = #{record.fk_rol_id,jdbcType=INTEGER},
      </if>
      <if test="record.transfer_tim != null">
        transfer_tim = #{record.transfer_tim,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transfer
    set fk_usr_id = #{record.fk_usr_id,jdbcType=INTEGER},
      fk_rol_id = #{record.fk_rol_id,jdbcType=INTEGER},
      transfer_tim = #{record.transfer_tim,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>